<ul class="list-group list-group-flush">
  <li *ngFor="let item of scheduleList; index as i" (click)="displaySong(item)" class="list-group-item">
    {{item.order ? item.order + ' - ' : '' }} {{item.name || item.quote}}
    <div ngbDropdown class="d-inline-block float-right" placement="bottom-right">
      <button class="btn btn-light" ngbDropdownToggle></button>
      <div ngbDropdownMenu>
        <button ngbDropdownItem (click)="removeSongFormSchedule(song)">
          <fa name="minus" size="small"></fa>
        </button>
        <button ngbDropdownItem (click)="moveUp(i)"><fa name="chevron-up" size="small"></fa></button>
        <button ngbDropdownItem (click)="moveDown(i)"><fa name="chevron-down" size="small"></fa></button>
      </div>
    </div>
  </li>
</ul>