ul{
    border: 1px solid #ddd;
    height: 95%;
    overflow-y: scroll;
    li{
        button.list-item{
            text-align: left;
            border-radius: 0;
            padding: 0;
            margin-left: 5px;
            width: 80%;
            display: inline-block;
            padding: 10px 5px;
        }
        span{
            height: 100%;
        }
        .order{
            display: inline-block;
            width: 8%;    
            padding: inherit;
            text-align: center;
            background: #ccc;
            vertical-align: top;
            padding-top: 2%;
        }
        &.list-group-item{
            padding: 0;
        }
    }
}
.emptyList{
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}